.full_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll_container {
  margin: 10px;
  display: flex;
  align-items: center;
  background-color: lightblue;
  max-width: 500px;
  overflow: hidden;
  position: relative;
}
.scrollable_container {
  display: flex;
  overflow: auto;
  align-items: center;
  transition: 0.3ms ease;
}
.card {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  user-select: none;
}
.scroll_container .left_arrow,
.right_arrow {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
}
.scroll_container .right_arrow {
  right: 0;
}
